src/incl/blocks/about_about.jade
.main_about
	.container
		.title.title--blue.title--primary
			h2 אשכול רשויות גליל מערבי
		.text.text--primary.text--left.text--about
			p אשכול רשויות גליל מערבי הוקם ביוזמת ובהובלת מר שלמה בוחבוט, ראש העיר מעלות-תרשיחא ובעידוד משרד הפנים ומשרד האוצר, כתאגיד רב רשותי בו שותפות 12 רשויות הכוללות מעל 160,000 תושבים. עכו, מטה אשר, מעלות-תרשיחא, בית ג'אן, מעלה יוסף, שלומי, חורפיש, כפר ורדים, מזרעה, פסוטה, מעיליא ומגדל תפן.
			p האשכול התאגד בשנת 2009 ופועל לקידום תחומי החיים השונים- תעשייה, תיירות, חינוך, תחבורה, בריאות, איכות סביבה ועוד, בראייה אזורית ותוך ניצול יתרון הגודל ואיגום המשאבים. בכל אחד מהתחומים קיים צוות עבודה באשכול המורכב מנציגים מרשויות האשכול. יו"ר האשכול הוא מר שלמה בוחבוט ומנכ"לית האשכול היא הגב' יעל רון. 
			p אזור הגליל המערבי מתאפיין בגיוון וברב תרבותיות הבאים לידי ביטוי בתרבויות ודתות שונות (חילוניים ודתיים, יהודים וערבים, בני עדות ודתות מגוונות; דרוזים, נוצרים, מוסלמים ועוד) ובצורות חיים שונות (עיר, רשות מקומית, כפר, קיבוץ, מושב ועוד). האשכול בחר להתייחס אל הגיוון הזה כנכס אזורי, אשר השקעה בו תתרום לביסוס קהילה אזורית, בעלת לכידות חברתית וחוסן קהילתי, שתפעל לקידום אזור הגליל המערבי.

src/incl/blocks/about_about.html

<div class="main_about">
  <div class="container">
    <div class="title title--blue title--primary">
      <h2>אשכול רשויות גליל מערבי</h2>
    </div>
    <div class="text text--primary text--left text--about">
      <p>אשכול רשויות גליל מערבי הוקם ביוזמת ובהובלת מר שלמה בוחבוט, ראש העיר מעלות-תרשיחא ובעידוד משרד הפנים ומשרד האוצר, כתאגיד רב רשותי בו שותפות 12 רשויות הכוללות מעל 160,000 תושבים. עכו, מטה אשר, מעלות-תרשיחא, בית ג'אן, מעלה יוסף, שלומי, חורפיש, כפר ורדים, מזרעה, פסוטה, מעיליא ומגדל תפן.</p>
      <p>האשכול התאגד בשנת 2009 ופועל לקידום תחומי החיים השונים- תעשייה, תיירות, חינוך, תחבורה, בריאות, איכות סביבה ועוד, בראייה אזורית ותוך ניצול יתרון הגודל ואיגום המשאבים. בכל אחד מהתחומים קיים צוות עבודה באשכול המורכב מנציגים מרשויות האשכול. יו"ר האשכול הוא מר שלמה בוחבוט ומנכ"לית האשכול היא הגב' יעל רון. </p>
      <p>אזור הגליל המערבי מתאפיין בגיוון וברב תרבותיות הבאים לידי ביטוי בתרבויות ודתות שונות (חילוניים ודתיים, יהודים וערבים, בני עדות ודתות מגוונות; דרוזים, נוצרים, מוסלמים ועוד) ובצורות חיים שונות (עיר, רשות מקומית, כפר, קיבוץ, מושב ועוד). האשכול בחר להתייחס אל הגיוון הזה כנכס אזורי, אשר השקעה בו תתרום לביסוס קהילה אזורית, בעלת לכידות חברתית וחוסן קהילתי, שתפעל לקידום אזור הגליל המערבי.</p>
    </div>
  </div>
</div>
