src/incl/blocks/commitments.html

<div class="commitments__wrap">
  <div class="container">
    <div class="title title--primary title--blue">
      <h2>התקשרויות מדף</h2>
    </div>
  </div>
  <div class="commitments">
    <div class="commitment">
      <div class="commitment__image"><img src="img/commitments.jpg" alt="commitment"/></div>
      <div class="commitment__body">
        <div class="commitment__text">
          <p><strong>שם המכרז</strong></p>
          <p>תוקף המכרז: 20.3.2018</p>
          <p>טווח מחירים / מחיר</p>
          <p><strong>סך הניצול עד כה: </strong></p>
        </div>
        <div class="commitment__btn"><a class="btn btn--small btn--small btn--open">פתוח</a>
        </div>
      </div>
      <div class="commitment__slider">
        <div class="slider-ui"></div>
      </div>
    </div>
    <div class="commitment">
      <div class="commitment__image"><img src="img/commitments.jpg" alt="commitment"/></div>
      <div class="commitment__body">
        <div class="commitment__text">
          <p><strong>שם המכרז</strong></p>
          <p>תוקף המכרז: 20.3.2018</p>
          <p>טווח מחירים / מחיר</p>
          <p><strong>סך הניצול עד כה: </strong></p>
        </div>
        <div class="commitment__btn"><a class="btn btn--small btn--small btn--closed">סגור</a>
        </div>
      </div>
      <div class="commitment__slider">
        <div class="slider-ui"></div>
      </div>
    </div>
    <div class="commitment">
      <div class="commitment__image"><img src="img/commitments.jpg" alt="commitment"/></div>
      <div class="commitment__body">
        <div class="commitment__text">
          <p><strong>שם המכרז</strong></p>
          <p>תוקף המכרז: 20.3.2018</p>
          <p>טווח מחירים / מחיר</p>
          <p><strong>סך הניצול עד כה: </strong></p>
        </div>
        <div class="commitment__btn"><a class="btn btn--small btn--small btn--open">פתוח</a>
        </div>
      </div>
      <div class="commitment__slider">
        <div class="slider-ui"></div>
      </div>
    </div>
    <div class="commitment">
      <div class="commitment__image"><img src="img/commitments.jpg" alt="commitment"/></div>
      <div class="commitment__body">
        <div class="commitment__text">
          <p><strong>שם המכרז</strong></p>
          <p>תוקף המכרז: 20.3.2018</p>
          <p>טווח מחירים / מחיר</p>
          <p><strong>סך הניצול עד כה: </strong></p>
        </div>
        <div class="commitment__btn"><a class="btn btn--small btn--small btn--open">פתוח</a>
        </div>
      </div>
      <div class="commitment__slider">
        <div class="slider-ui"></div>
      </div>
    </div>
    <div class="commitment">
      <div class="commitment__image"><img src="img/commitments.jpg" alt="commitment"/></div>
      <div class="commitment__body">
        <div class="commitment__text">
          <p><strong>שם המכרז</strong></p>
          <p>תוקף המכרז: 20.3.2018</p>
          <p>טווח מחירים / מחיר</p>
          <p><strong>סך הניצול עד כה: </strong></p>
        </div>
        <div class="commitment__btn"><a class="btn btn--small btn--small btn--closed">סגור</a>
        </div>
      </div>
      <div class="commitment__slider">
        <div class="slider-ui"></div>
      </div>
    </div>
    <div class="commitment">
      <div class="commitment__image"><img src="img/commitments.jpg" alt="commitment"/></div>
      <div class="commitment__body">
        <div class="commitment__text">
          <p><strong>שם המכרז</strong></p>
          <p>תוקף המכרז: 20.3.2018</p>
          <p>טווח מחירים / מחיר</p>
          <p><strong>סך הניצול עד כה: </strong></p>
        </div>
        <div class="commitment__btn"><a class="btn btn--small btn--small btn--open">פתוח</a>
        </div>
      </div>
      <div class="commitment__slider">
        <div class="slider-ui"></div>
      </div>
    </div>
  </div>
</div>

src/incl/blocks/commitments.jade
.commitments__wrap
	.container
		.title.title--primary.title--blue
			h2 התקשרויות מדף
		.commitments
			-var val = ['05', '40', '25', '63', '50', '100'];
			-for(var i=0; i<6; i++){
				.commitment
					.commitment__image.js-img
						img(src="img/commitments.jpg" alt="commitment")
					.commitment__body
						.commitment__text
							p
								strong שם המכרז
							p תוקף המכרז: 20.3.2018
							p טווח מחירים / מחיר
							p
								strong סך הניצול עד כה: 
						.commitment__btn
							-if(i==1 || i==4)
								a(href=NULL).btn.btn--small.btn--small.btn--closed סגור
							
							-if(i!==1 && i!==4)
								a(href=NULL).btn.btn--small.btn--small.btn--open פתוח
							
					.commitment__slider(data-val=""+val[i])
						.commitment__slider-body
							.commitment__slider-val
								span= val[i]
			-}
.commitments__wrap.wrap--dark
	.container
		.title.title--primary.title--blue
			h2 התקשרויות מדף
		.commitments
			-var val = ['05', '40', '25', '63', '50', '100'];
			-for(var i=0; i<6; i++){
				.commitment
					.commitment__image.js-img
						img(src="img/commitments.jpg" alt="commitment")
					.commitment__body
						.commitment__text
							p
								strong שם המכרז
							p תוקף המכרז: 20.3.2018
							p טווח מחירים / מחיר
							p
								strong סך הניצול עד כה: 
						.commitment__btn
							-if(i==1 || i==4)
								a(href=NULL).btn.btn--small.btn--small.btn--closed סגור
							
							-if(i!==1 && i!==4)
								a(href=NULL).btn.btn--small.btn--small.btn--open פתוח
							
					.commitment__slider(data-val=""+val[i])
						.commitment__slider-body
							.commitment__slider-val
								span= val[i]
			-}
