src/incl/blocks/contact_officials.html

<div class="contact__officials">
  <div class="container">
    <div class="title title--blue title--primary">
      <h2>בעלי תפקידים</h2>
    </div>
    <div class="contact__wrap">
      <div class="contact__table">
        <div class="contact__row">
          <div class="contact__col contact__col--first">שם פרטי</div>
          <div class="contact__col contact__col--first">תפקיד</div>
          <div class="contact__col contact__col--first">נייד</div>
          <div class="contact__col contact__col--first">דוא״ל</div>
        </div>
        <div class="contact__row" style="height: 41px"></div>
        <div class="contact__row">
          <div class="contact__col">יעל רון </div>
          <div class="contact__col">מנכ"לית</div>
          <div class="contact__col">0524675444</div>
          <div class="contact__col">yael@wegalil.org.il</div>
        </div>
        <div class="contact__row">
          <div class="contact__col">טל כהן </div>
          <div class="contact__col">מנהל פרויקטים</div>
          <div class="contact__col">0545491895</div>
          <div class="contact__col">tal@wegalil.org.il</div>
        </div>
        <div class="contact__row">
          <div class="contact__col">אלה שפר-רוזן </div>
          <div class="contact__col">מנהלת היחידה לפיתוח חברתי</div>
          <div class="contact__col">0524566936</div>
          <div class="contact__col">ella@wegalil.org.il</div>
        </div>
        <div class="contact__row">
          <div class="contact__col">וופא טאפש </div>
          <div class="contact__col">עוזרת מנכ"לית</div>
          <div class="contact__col">0506207411</div>
          <div class="contact__col">eshkol@wegalil.org.il</div>
        </div>
        <div class="contact__row">
          <div class="contact__col">סימה עזרן </div>
          <div class="contact__col">מנהלת לשכה</div>
          <div class="contact__col">0526991041</div>
          <div class="contact__col">wafaa@wegalil.org.il</div>
        </div>
      </div>
    </div>
  </div>
</div>

src/incl/blocks/contact_officials.jade
-
	var col1 = [
		'יעל רון ',
		'טל כהן ',
		'אלה שפר-רוזן ',
		'וופא טאפש ',
		'סימה עזרן '
	];
	var col2 = [
		'מנכ"לית',
		'מנהל פרויקטים',
		'מנהלת היחידה לפיתוח חברתי',
		'עוזרת מנכ"לית',
		'מנהלת לשכה'
	];
	var col3 = [
		'0524675444',
		'0545491895',
		'0524566936',
		'0506207411',
		'0526991041'
	];
	var col4 = [
		'yael@wegalil.org.il',
		'tal@wegalil.org.il',
		'ella@wegalil.org.il',
		'eshkol@wegalil.org.il',
		'wafaa@wegalil.org.il'
	];
.contact__officials
	.container
		.title.title--blue.title--primary
			h2 בעלי תפקידים
		.contact__wrap
			.contact__table
					.contact__row
						.contact__col.contact__col--first שם פרטי
						.contact__col.contact__col--first תפקיד
						.contact__col.contact__col--first נייד
						.contact__col.contact__col--first דוא״ל
					.contact__row(style="height: 41px")
					.contact__row
						.contact__col יעל רון 
						.contact__col מנכ"לית
						.contact__col 0524675444
						.contact__col yael@wegalil.org.il
					.contact__row
						.contact__col טל כהן 
						.contact__col מנהל פרויקטים
						.contact__col 0545491895
						.contact__col tal@wegalil.org.il
					.contact__row
						.contact__col אלה שפר-רוזן 
						.contact__col מנהלת היחידה לפיתוח חברתי
						.contact__col 0524566936
						.contact__col ella@wegalil.org.il
					.contact__row
						.contact__col וופא טאפש 
						.contact__col עוזרת מנכ"לית
						.contact__col 0506207411
						.contact__col eshkol@wegalil.org.il
					.contact__row
						.contact__col סימה עזרן 
						.contact__col מנהלת לשכה
						.contact__col 0526991041
						.contact__col wafaa@wegalil.org.il
