src/incl/blocks/header.jade
header
	.header-topline
		.header-topline-row
			a(href="javascript:void(0)").header-login.no_text_change כניסה לרשויות האשכול
			.header-fontsize-wrap
				a(href="javascript:void(0)").header-font-size.header-font-size--big.no_text_change.font_s#enlarge_text א 
				a(href="javascript:void(0)").header-font-size.header-font-size--norm.no_text_change.font_s#reset_text א 
				a(href="javascript:void(0)").header-font-size.header-font-size--lit.no_text_change.font_s#dec_text א 
	.header-menu
		a(href="/").header-logo
			img(src="img/fulllogo.svg")
		.header-nav
			span.tab-only
			ul
				li
					a(href="index.html").no_text_change עמוד הבית
				li
					a(href="about.html").no_text_change אודות
				li
					a(href="category.html").no_text_change תחומי פעילות
				li
					a(href="michraz.html").no_text_change מכרזים
				li
					a(href="news.html").no_text_change חדשות ועדכונים
				li
					a(href="contact.html").no_text_change צור קשר

		form.form.form--search
			.search-input
				input(type="text" placeholder="הקלד לחיפוש באתר...")
		.header-functions
			a.header-search(href="javascript:void(0)")
				input(type="submit")
				svg
					use(xlink:href="#search")
			a.header-accecibility(href="javascript:void(0)")
				svg
					use(xlink:href="#accecibility")

src/incl/blocks/header.html

<header>
  <div class="header-topline">
    <div class="header-topline-row"><a class="header-login no_text_change" href="javascript:void(0)">כניסה לרשויות האשכול</a><a class="header-font-size no_text_change" href="javascript:void(0)">א <span>א </span><span>א </span></a></div>
  </div>
  <form class="search">
    <div class="header-menu"><a class="header-logo" href="/"><img src="img/fulllogo.svg"/></a>
      <div class="header-nav"><span class="tab-only"></span>
        <ul>
          <li><a class="no_text_change" href="javascript:void(0)">עמוד הבית</a></li>
          <li><a class="no_text_change" href="javascript:void(0)">אודות</a></li>
          <li><a class="no_text_change" href="javascript:void(0)">תחומי פעילות</a></li>
          <li><a class="no_text_change" href="javascript:void(0)">מכרזים</a></li>
          <li><a class="no_text_change" href="javascript:void(0)">חדשות ועדכונים </a></li>
          <li><a class="no_text_change" href="javascript:void(0)">צור קשר</a></li>
        </ul>
      </div>
      <div class="search-input">
        <input type="text" placeholder="הקלד לחיפוש באתר..."/>
      </div>
    </div>
    <div class="header-functions"><a class="header-search" href="javascript:void(0)">
        <input type="submit"/>
        <svg>
          <use xlink:href="#search"></use>
        </svg></a><a class="header-accecibility" href="javascript:void(0)">
        <svg>
          <use xlink:href="#accecibility"></use>
        </svg></a></div>
  </form>
</header>
