src/incl/blocks/logo_slider.html

<div class="logo-slider">
  <div class="container">
    <div class="title title--primary title--blue">
      <h2>רשויות האשכול</h2>
    </div>
    <div class="logo_slider slick"><a class="logo-slide">
        <div class="img-wrap"><img src="img/slide-0.png" alt="logo"/></div></a><a class="logo-slide">
        <div class="img-wrap"><img src="img/slide-1.png" alt="logo"/></div></a><a class="logo-slide">
        <div class="img-wrap"><img src="img/slide-2.png" alt="logo"/></div></a><a class="logo-slide">
        <div class="img-wrap"><img src="img/slide-3.png" alt="logo"/></div></a><a class="logo-slide">
        <div class="img-wrap"><img src="img/slide-4.png" alt="logo"/></div></a><a class="logo-slide">
        <div class="img-wrap"><img src="img/slide-5.png" alt="logo"/></div></a><a class="logo-slide">
        <div class="img-wrap"><img src="img/slide-6.png" alt="logo"/></div></a><a class="logo-slide">
        <div class="img-wrap"><img src="img/slide-0.png" alt="logo"/></div></a><a class="logo-slide">
        <div class="img-wrap"><img src="img/slide-1.png" alt="logo"/></div></a><a class="logo-slide">
        <div class="img-wrap"><img src="img/slide-2.png" alt="logo"/></div></a><a class="logo-slide">
        <div class="img-wrap"><img src="img/slide-3.png" alt="logo"/></div></a><a class="logo-slide">
        <div class="img-wrap"><img src="img/slide-4.png" alt="logo"/></div></a><a class="logo-slide">
        <div class="img-wrap"><img src="img/slide-5.png" alt="logo"/></div></a><a class="logo-slide">
        <div class="img-wrap"><img src="img/slide-6.png" alt="logo"/></div></a>
    </div>
  </div>
</div>

src/incl/blocks/logo_slider.jade
.logo-slider
	.container
		.title.title--primary.title--blue
			h2 רשויות האשכול
		.logo_slider.slick
			-for(var j=0; j<2; j++){
				-for(var i=0; i<7; i++){
					a(href=NULL).logo-slide
						.img-wrap
							img(src="img/slide-"+i+".png", alt="logo")
				-}
			-}
