src/incl/blocks/main_about.html

<div class="main_about">
  <div class="container">
    <div class="title title--blue title--primary">
      <h2>אשכול רשויות גליל מערבי</h2>
    </div>
    <div class="text text--primary text--center">
      <p>אשכול גליל מערבי הינו תאגיד עירוני אזורי, שהוקם במטרה לקדם ראייה אזורית ושיתופי פעולה אסטרטגיים בין הרשויות המקומיות. אשכול גליל מערבי נחשב לחלוץ בתחום ומטרתו ליצור קפיצת מדרגה באיכות חיי התושבים ולהוביל לצמיחה כלכלית וחברתית לאורך זמן, זאת באמצעות פיתוח פיסי, כלכלי ורווחתי של אזור הגליל המערבי.<br class="desk-only">תאגיד רב-רשותי בו שותפות 12 רשויות הכוללות מעל 160,000 תושבים: מעלות-תרשיחא, עכו, שלומי, כפר ורדים, מגדל תפן, פסוטה, מעלה יוסף, חורפיש, בית ג'אן, מעיליא, מטה  אשר ומזרעה.</p>
    </div>
  </div>
</div>

src/incl/blocks/main_about.jade
.main_about
	.container
		.title.title--blue.title--primary
			h2 אשכול רשויות גליל מערבי
		.text.text--primary.text--center
			p אשכול גליל מערבי הינו תאגיד עירוני אזורי, שהוקם במטרה לקדם ראייה אזורית ושיתופי פעולה אסטרטגיים בין הרשויות המקומיות. אשכול גליל מערבי נחשב לחלוץ בתחום ומטרתו ליצור קפיצת מדרגה באיכות חיי התושבים ולהוביל לצמיחה כלכלית וחברתית לאורך זמן, זאת באמצעות פיתוח פיסי, כלכלי ורווחתי של אזור הגליל המערבי.<br class="desk-only">תאגיד רב-רשותי בו שותפות 12 רשויות הכוללות מעל 160,000 תושבים: מעלות-תרשיחא, עכו, שלומי, כפר ורדים, מגדל תפן, פסוטה, מעלה יוסף, חורפיש, בית ג'אן, מעיליא, מטה  אשר ומזרעה.
