src/incl/blocks/michraz_files.html

<div class="category__files">
  <div class="container">
    <div class="title title--primary title--blue">
      <h2>קבצים להורדה</h2>
    </div>
    <div class="category__slider2">
      <div><a href="NULL">
          <div class="category__pic"><img src="img/files_1.svg" alt=""/></div>
          <div class="category__text">תוכנית מאוגדת לניהול אזורי של פסולת באשכול רשויות הגליל המערבי.</div></a></div>
      <div><a href="NULL">
          <div class="category__pic"><img src="img/files_2.svg" alt=""/></div>
          <div class="category__text">תוכנית מאוגדת לניהול אזורי של פסולת באשכול רשויות הגליל המערבי.</div></a></div>
      <div><a href="NULL">
          <div class="category__pic"><img src="img/files_1.svg" alt=""/></div>
          <div class="category__text">תוכנית מאוגדת לניהול אזורי של פסולת באשכול רשויות הגליל המערבי.</div></a></div>
      <div><a href="NULL">
          <div class="category__pic"><img src="img/files_2.svg" alt=""/></div>
          <div class="category__text">תוכנית מאוגדת לניהול אזורי של פסולת באשכול רשויות הגליל המערבי.</div></a></div>
      <div><a href="NULL">
          <div class="category__pic"><img src="img/files_1.svg" alt=""/></div>
          <div class="category__text">תוכנית מאוגדת לניהול אזורי של פסולת באשכול רשויות הגליל המערבי.</div></a></div>
      <div><a href="NULL">
          <div class="category__pic"><img src="img/files_2.svg" alt=""/></div>
          <div class="category__text">תוכנית מאוגדת לניהול אזורי של פסולת באשכול רשויות הגליל המערבי.</div></a></div>
      <div><a href="NULL">
          <div class="category__pic"><img src="img/files_1.svg" alt=""/></div>
          <div class="category__text">תוכנית מאוגדת לניהול אזורי של פסולת באשכול רשויות הגליל המערבי.</div></a></div>
      <div><a href="NULL">
          <div class="category__pic"><img src="img/files_2.svg" alt=""/></div>
          <div class="category__text">תוכנית מאוגדת לניהול אזורי של פסולת באשכול רשויות הגליל המערבי.</div></a></div>
      <div><a href="NULL">
          <div class="category__pic"><img src="img/files_1.svg" alt=""/></div>
          <div class="category__text">תוכנית מאוגדת לניהול אזורי של פסולת באשכול רשויות הגליל המערבי.</div></a></div>
      <div><a href="NULL">
          <div class="category__pic"><img src="img/files_2.svg" alt=""/></div>
          <div class="category__text">תוכנית מאוגדת לניהול אזורי של פסולת באשכול רשויות הגליל המערבי.</div></a></div>
    </div>
  </div>
</div>

src/incl/blocks/michraz_files.jade
.category__files
	.container
		.title.title--primary.title--blue
			h2 קבצים להורדה
			.category__file
				- for(i=0; i<3; i++)
					.category__item
						a(href="NULL")
							.category__pic
								img(src="img/files_1.svg", alt="")
							.category__text תוכנית מאוגדת לניהול אזורי של פסולת באשכול רשויות הגליל המערבי.
					.category__item
						a(href="NULL")
							.category__pic
								img(src="img/files_2.svg", alt="")
							.category__text תוכנית מאוגדת לניהול אזורי של פסולת באשכול רשויות הגליל המערבי.
