src/incl/blocks/modal.html

<div class="modal__bg"></div>
<div class="modal modal__wrap"><span class="modal__close"></span>
  <div class="modal__body">
    <div class="modal__text">טקסט חופשי תנאי השימוש. טקסט חופשי של האשכול לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית גולר מונפרר סוברט לורם שבצק יהול, לכנוץ בעריר גק ליץ, הועניב היושבב שערש שמחויט - שלושע ותלברו חשלו שעותלשך וחאית נובש ערששף. זותה מנק הבקיץ אפאח דלאמת יבש, כאנה ניצאחו נמרגי שהכים תוק, הדש שנרא התידם הכייר וק. טקסט חופשי תנאי השימוש. טקסט חופשי של האשכול לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית גולר מונפרר סוברט לורם שבצק יהול, לכנוץ בעריר גק ליץ, הועניב היושבב שערש שמחויט - שלושע ותלברו חשלו שעותלשך וחאית נובש ערששף. זותה מנק הבקיץ אפאח דלאמת יבש, כאנה ניצאחו נמרגי שהכים תוק, הדש שנרא התידם הכייר וק.</div>
    <div class="btn btn--secondary">אני מסכים</div>
    <div class="modal__input">
      <div class="modal__radio">
        <input type="radio" name="radio_1" id="radio_1" checked="checked"/>
        <label class="modal__label" for="radio_1">לא מאשר</label>
      </div>
      <div class="modal__radio">
        <input type="radio" name="radio_1" id="radio_2" checked="checked"/>
        <label class="modal__label" for="radio_2">מאשר</label>
      </div>
    </div>
  </div>
</div>

src/incl/blocks/modal.jade
.modal__bg
.modal.modal__wrap
    span.modal__close
    .modal__body
        .modal__text טקסט חופשי תנאי השימוש. טקסט חופשי של האשכול לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית גולר מונפרר סוברט לורם שבצק יהול, לכנוץ בעריר גק ליץ, הועניב היושבב שערש שמחויט - שלושע ותלברו חשלו שעותלשך וחאית נובש ערששף. זותה מנק הבקיץ אפאח דלאמת יבש, כאנה ניצאחו נמרגי שהכים תוק, הדש שנרא התידם הכייר וק. טקסט חופשי תנאי השימוש. טקסט חופשי של האשכול לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית גולר מונפרר סוברט לורם שבצק יהול, לכנוץ בעריר גק ליץ, הועניב היושבב שערש שמחויט - שלושע ותלברו חשלו שעותלשך וחאית נובש ערששף. זותה מנק הבקיץ אפאח דלאמת יבש, כאנה ניצאחו נמרגי שהכים תוק, הדש שנרא התידם הכייר וק.
        .btn.btn--primary אני מסכים
        .modal__input
            .modal__radio
                input(type="radio" name="radio_1" id="radio_1" checked)
                label.modal__label(for="radio_1") לא מאשר
            .modal__radio
                input(type="radio" name="radio_1" id="radio_2")
                label.modal__label(for="radio_2") מאשר
