src/incl/blocks/team.jade
.team
    .team__wrap
        -for(var i=1; i<3; i++)
            .team__item
                .team__img
                    img(src="img/team_"+i+".jpg", alt="")
                .team__text
                    .team__head.title דבר היו״ר / המנכ״לית
                    .text--primary
                        p רשויות מקומיות שמרו על עצמאותן עד היום, מתוך אמונה שהן מסוגלות לקדם את עצמן באופן עצמאי, תוך שמירה על האינטרסים המקומיים. בשנים האחרונות הפערים בין משימות הרשות למשאבים העומדים לרשותה הולכים וגדלים. עובדה זו מחייבת יצירת שיתופי פעולה במרחב האזורי.
                        p לצורך כך הוקם אשכול גליל מערבי, האשכול הינו תאגיד רב-רשותי בו שותפות 12 רשויות הכוללות מעל 160,000 תושבים: מעלות-תרשיחא, עכו, שלומי, כפר ורדים, מגדל תפן, פסוטה, מעלה יוסף, חורפיש, בית ג'אן, מעיליא, מטה אשר ומזרעה.
                        p האשכול נוסד בשנת 2009 ביוזמת ובהובלת ראש העיר מעלות-תרשיחא מר שלמה בוחבוט ובאישור משרד הפנים ומשרד האוצר לטובת ייזום פרויקטים כלכליים וחברתיים בגליל המערבי וכחלק מהמסגרת התפיסתית לפיתוח אזורי הנהוגה כיום בישראל ומכונה קפיצת מדרגה אזורית. בעקבות הקמת אשכול גליל

src/incl/blocks/team.html

<div class="team">
  <div class="team__wrap">
    <div class="team__item">
      <div class="team__img"><img src="img/team_1.jpg" alt=""/></div>
      <div class="team__text">
        <div class="team__head title">דבר היו״ר / המנכ״לית</div>
        <div class="text--primary">
          <p>רשויות מקומיות שמרו על עצמאותן עד היום, מתוך אמונה שהן מסוגלות לקדם את עצמן באופן עצמאי, תוך שמירה על האינטרסים המקומיים. בשנים האחרונות הפערים בין משימות הרשות למשאבים העומדים לרשותה הולכים וגדלים. עובדה זו מחייבת יצירת שיתופי פעולה במרחב האזורי.</p>
          <p>לצורך כך הוקם אשכול גליל מערבי, האשכול הינו תאגיד רב-רשותי בו שותפות 12 רשויות הכוללות מעל 160,000 תושבים: מעלות-תרשיחא, עכו, שלומי, כפר ורדים, מגדל תפן, פסוטה, מעלה יוסף, חורפיש, בית ג'אן, מעיליא, מטה אשר ומזרעה.</p>
          <p>האשכול נוסד בשנת 2009 ביוזמת ובהובלת ראש העיר מעלות-תרשיחא מר שלמה בוחבוט ובאישור משרד הפנים ומשרד האוצר לטובת ייזום פרויקטים כלכליים וחברתיים בגליל המערבי וכחלק מהמסגרת התפיסתית לפיתוח אזורי הנהוגה כיום בישראל ומכונה קפיצת מדרגה אזורית. בעקבות הקמת אשכול גליל</p>
        </div>
      </div>
    </div>
    <div class="team__item">
      <div class="team__img"><img src="img/team_2.jpg" alt=""/></div>
      <div class="team__text">
        <div class="team__head title">דבר היו״ר / המנכ״לית</div>
        <div class="text--primary">
          <p>רשויות מקומיות שמרו על עצמאותן עד היום, מתוך אמונה שהן מסוגלות לקדם את עצמן באופן עצמאי, תוך שמירה על האינטרסים המקומיים. בשנים האחרונות הפערים בין משימות הרשות למשאבים העומדים לרשותה הולכים וגדלים. עובדה זו מחייבת יצירת שיתופי פעולה במרחב האזורי.</p>
          <p>לצורך כך הוקם אשכול גליל מערבי, האשכול הינו תאגיד רב-רשותי בו שותפות 12 רשויות הכוללות מעל 160,000 תושבים: מעלות-תרשיחא, עכו, שלומי, כפר ורדים, מגדל תפן, פסוטה, מעלה יוסף, חורפיש, בית ג'אן, מעיליא, מטה אשר ומזרעה.</p>
          <p>האשכול נוסד בשנת 2009 ביוזמת ובהובלת ראש העיר מעלות-תרשיחא מר שלמה בוחבוט ובאישור משרד הפנים ומשרד האוצר לטובת ייזום פרויקטים כלכליים וחברתיים בגליל המערבי וכחלק מהמסגרת התפיסתית לפיתוח אזורי הנהוגה כיום בישראל ומכונה קפיצת מדרגה אזורית. בעקבות הקמת אשכול גליל</p>
        </div>
      </div>
    </div>
  </div>
</div>
